html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 956px;
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'Proxima Nova', sans-serif;
}

